.app{
  background-color: #202124;
}

.side{
  background-color: inherit;
  height: 100dvh;
  width: 100%;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}

#left-side{
  background-color: blueviolet;
  color: white;
  z-index: 2;
}

#right-side{
  background-color: yellow;
  color: black;
}
