@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.app{
  background-color: #202124;
}

.side{
  background-color: inherit;
  height: 100dvh;
  width: 100%;

  display: grid;
  place-items: center;

  position: absolute;
  overflow: hidden;
}

.side .title{
  font-family: "Rubik", sans-serif;
  font-size: 4vw;
  margin: 0px 15vw;
  width: 70vw;
}

.side span{
  font-family: 'Pacifico', cursive;
  font-size: 6vw;
  font-weight: 100;
  scale: 200%;
}

#left-side{
background-color: rgb(46, 46, 47);
color: white;
z-index: 2;
}

#right-side{
background-color: #F84F39;
color: black;
/* z-index: 5; */
}

#left-side span{
color: #F84F39;
}

#right-side span{
color: whitesmoke
}